{% extends "base.html" %}
{% block content %}


<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="mb-5">
            <h2 class="text-center ">Convert Audio File (Opus) into Video</h2>
            <p class="text-center">Convert Audio Files into Video With the Combinations of Images Easily</p>
        </div>
        <div class="main d-flex" style="justify-content: center; align-items: center;">
            <form action="" method="post" class="card p-3 col-lg-7 col-md-7 col-sm-12" enctype="multipart/form-data"
                id="upload_form">
                {% csrf_token %}

                <div>
                    <h5 class="ms-2">Choose An Audio File</h5>
                    <input type="file" name="audio" id="audio" class="form-control" required>
                </div>

                <br>
                <div>
                    <h5 class="ms-2">Choose Multiple Images</h5>
                    <input type="file" name="images" id="images" multiple class="form-control" required>
                </div>

                <br>
                <div class="d-flex" style="justify-content: right;">
                    <button type="submit" class="button-92" id="button-92">Create
                        Video</button>
                </div>

                <br>
                <div class="progress invisible" role="progressbar" aria-label="Animated striped example"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                        style="width: 100%; background-color: #7C9D96;"></div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        let progress = document.querySelector('.progress');
        let audio = document.querySelector('#audio');
        let images = document.querySelector('#images');
        let submitButton = document.querySelector('#button-92');
        console.log('Welcome');

        submitButton.addEventListener('click', function (event) {
            console.log(progress.classList);
            // progress.classList.remove('invisible');
            if (audio.files.length > 0 && images.files.length > 0) {
                // Both fields are not empty
                progress.classList.remove('invisible');
                console.log(progress.classList);

                fetch('{% url "get_loading" %}').then(
                    (res) => res.json()).then(
                        (data) => {
                            return data;
                            console.log(data.isLoading);
                            if (data.isLoading === true) {
                                progress.classList.add('invisible');
                            } else {
                                progress.classList.remove('invisible');
                            }
                        }
                    );
            } else {
                progress.classList.add('invisible');
            }


        });


    });
</script>
{% endblock content %}